@import url("https://fonts.googleapis.com/css?family=Bellefair&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  font-family: "Bellefair", sans-serif;
  margin: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.row::before, .row::after {
  content: " ";
  display: table;
  clear: both; }

header {
  height: 50px;
  background-color: #2f4f4f; }
  header nav {
    width: 100%;
    height: 50px; }
    header nav img {
      float: left; }
    header nav ul {
      float: right;
      list-style-type: none;
      line-height: 50px;
      margin: 0;
      padding: 0; }
      header nav ul li {
        display: inline-block; }
        header nav ul li a {
          text-decoration: none;
          color: white;
          padding: 0 20px;
          text-transform: uppercase;
          display: block; }
          header nav ul li a:hover {
            background-color: #1e3e3e; }

.hero {
  min-height: 1000px;
  background: url("https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat center center;
  background-size: cover;
  width: 100%; }

.gallery {
  margin: 20px 0;
  overflow: hidden;
  width: 100%; }
  .gallery img {
    width: 100%; }

.photo {
  width: 30%;
  float: left;
  margin-right: 5%;
  height: 100%; }
  .photo:last-of-type {
    margin-right: 0; }

.map img {
  width: 100%; }

footer {
  width: 100%;
  height: 50px;
  background-color: darkslategray;
  text-align: center;
  margin: 0; }
  footer .container {
    line-height: 50px;
    color: white;
    font-size: 1rem; }

@media (min-width: 992px) and (max-width: 1199px) {
  header nav {
    text-align: center; }
    header nav::after, header nav::before {
      clear: both;
      content: ' ';
      display: table; }
    header nav img {
      float: none; }
    header nav ul {
      display: inline-block;
      color: black;
      padding: 0;
      background: darkslategray;
      line-height: 50px;
      width: 100%;
      text-align: center; }
      header nav ul li {
        margin: 0; }
        header nav ul li a {
          padding: 0 10px;
          display: block;
          color: #fff; }
  .photo {
    margin-right: 3%; }
  .hero {
    height: auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  header nav {
    text-align: center; }
    header nav::after, header nav::before {
      clear: both;
      content: ' ';
      display: table; }
    header nav ul {
      float: none;
      background: darkslategray;
      width: 100%;
      display: inline-block;
      padding: 0; }
      header nav ul li {
        margin: 0 auto; }
        header nav ul li a {
          padding: 0 10px; }
    header nav img {
      float: none; }
  footer .container {
    font-size: 1rem; }
  .hero {
    height: 50vh; } }

@media (max-width: 767px) {
  header nav {
    float: none;
    text-align: center; }
    header nav ul {
      width: 100%;
      background: darkslategray;
      padding: 0; }
      header nav ul li {
        display: block;
        margin: 0;
        text-align: center;
        line-height: 1; }
        header nav ul li a {
          color: #fff;
          padding: 10px 0; }
          header nav ul li a::after {
            border: 2px solid red; }
    header nav img {
      float: none;
      text-align: center; }
  .gallery .container {
    text-align: center;
    padding: 10px; }
  .photo {
    margin: 0 auto;
    float: none;
    width: 100%;
    padding: 10px; }
    .photo:last-of-type {
      margin: 0 auto; }
  .hero {
    display: flex; }
  footer .container {
    font-size: 1rem; } }
